{% extends 'includes/include.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="../../static/css/dataset.css">
    <style>
        label {
            font-size: 12px;
        }
    </style>
</head>
{% include "includes/sidebar.html" %}

<div class="container">
    <div class="daftarKaryawan">
        <h2>Isi Data Koleksi</h2>
        <form method="post" action="/updatekoleksi/{{editkoleksi.id}}" enctype = "multipart/form-data">
            <hr>
            <div>
                <label for="profil">Nama koleksi</label>
                <input value="{{editkoleksi.namakoleksi}}"  class="form-control" type="text"
                    name="namekoleksi" required> <br>
                    <label for="profil">Deskripsi Koleksi</label>
                <input value="{{editkoleksi.deskripsikoleksi}}"  class="form-control" type="text"
                    name="deskoleksi" required> <br>
                    <label for="gambar">Upload Gambar</label>
                <input class="form-control" type="file" name="gambar"> <br>
                <a href="/popupedit" style="margin-left:21px;"><br>
                    <button type="submit" class="btn btn-primary">Update Data</button>
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}